@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fondo: #000;
    --botones-color: #FF2C1F;
    --texto: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--fondo);
    font-family: "montserrat", sans-serif;
    color: var(--texto);
}

.abrir-menu,
.cerrar-menu {
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    color: var(--texto);
}

.cerrar-menu {
    color: var(--botones-color);
}


header {
    display: flex;
    margin-left: 10px;
    background-color: var(--fondo);

}


nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--fondo);
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    z-index: 20;
    height: 100%;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
}

.nav-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-transform: uppercase;
}

.nav-list li {
    padding: 20px 0;

}

.nav-list li a {
    color: var(--texto);
    text-decoration: none;
    margin: 0 auto;
    padding: 10px 50px;
}

.navLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.logo {
    width: 90px;
    filter: invert(100%);
}

.nav-list li:hover {
    border-bottom: 2px solid var(--botones-color);
    border-top: 2px solid var(--botones-color);
    transform: scale(1.2);
}

.navLogin {
    list-style: none;
}

.navLogin a {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    background-color: var(--botones-color);
}


.navLogin a:hover {
    border: 2px solid var(--botones-color);
    background-color: var(--fondo);
}

.login-icon {
    filter: invert(100%);
    width: 30px;
    margin-right: 10px;

}

/*****************sesion*************/


.sesion {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 50px auto;
}

.formulario {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}

.formulario .formulario-label {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
}

.formulario .formulario-input {
    width: 100%;
    padding: 8px 0;
    margin-bottom: 20px;
    border: none;
    background-color: var(--fondo);
    border-bottom: 1px solid var(--botones-color);
    color: var(--texto);

}

.formulario .formulario-input:focus {
    outline: none;

}

.formulario .login {
    background-color: var(--botones-color);
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--texto);
    margin-top: 20px;
    width: 40%;
    margin: 20px auto;
    font-size: 1.2rem;
    font-weight: 700;
}

.formulario .login:hover {
    background-color: var(--fondo);
    border: 2px solid var(--botones-color);
}

.formulario a {
    text-decoration: none;
    color: var(--texto);

}

.formulario a:hover {
    border-bottom: 2px solid var(--botones-color);
}

.registrarse h2 {
    padding-bottom: 30px;
    text-decoration: none;
    color: var(--texto);
    margin: 20px;
}

.registrarse a {
    text-decoration: none;
    color: var(--texto);
    padding: 20px;
    background-color: var(--botones-color);
    border-radius: 10px;
    text-transform: uppercase;
}

.registrarse a:hover {
    background-color: var(--fondo);
    border: 2px solid var(--botones-color);

}

/*****************registrar****************/
.registrarse {
    text-align: center;
}

.registrar {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 50px 80px;
    margin: 0px auto;
    width: 100%;
}

/*******************precios***********************/
.salas {
    margin-top: 30px;
}

.precios {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 40px auto;
    width: 80%;
}

figure.snip1206 {
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 220px;
    max-width: 700px;
    max-height: 220px;
    width: 100%;
    color: #000000;
    text-align: center;
    padding: 0 10px;
}

figure.snip1206 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

figure.snip1206 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip1206:after {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    opacity: 0.75;
    -webkit-transform: skew(-45deg) scaleX(0);
    transform: skew(-45deg) scaleX(0);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

figure.snip1206 figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
}

figure.snip1206 h2,
figure.snip1206 p {
    margin: 0;
    width: 100%;
    opacity: 0;
}

figure.snip1206 h2 {
    padding: 10px 30px;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
}

figure.snip1206 p {
    padding: 5px 50px;
    font-size: 1em;
    font-weight: 500;
}

figure.snip1206:hover:after,
figure.snip1206.hover:after {
    -webkit-transform: skew(-45deg) scaleX(1);
    transform: skew(-45deg) scaleX(1);
    transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2,
figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

figure.snip1206:hover figcaption h2,
figure.snip1206.hover figcaption h2 {
    opacity: 1;
}

figure.snip1206:hover figcaption p,
figure.snip1206.hover figcaption p {
    opacity: 0.7;
}


/***************difuminado*************/

.difuminado {
    width: 80%;
    padding: 20px;
    /* margin-left: 50px; */
    background-color: linear-gradient(to right, #FF2C1F, transparent);

}

.difuminado::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, #FF2C1F, transparent);
}

/******************preguntas**********************/
.dudas-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0 auto;
    height: auto;
}

.dudas .difuminado,
.reembolso .difuminado {
    width: 400px;
    margin-left: 0;
}

.preg-frecuentes,
.reembolso-contenedor {
    width: 90%;
    margin: 0 auto;
}

.details {
    border: 1px solid var(--texto);
    margin: 10px 0;
    padding: 10px;
}

.details p {
    padding: 5px 0 5px 30px;
    width: 90%;
}

.details ul {
    padding: 5px 0 5px 30px;
    width: 90%;
}

.details a {
    text-decoration: none;
    color: var(--texto);
    border-bottom: 1px solid var(--botones-color);
}

.details a:hover {
    color: var(--botones-color);
}

.sumary {
    padding: 10px;
}

.sumary::marker {
    color: var(--botones-color);
}

/*****************footer**************/

footer {
    border-top: 2px solid var(--botones-color);
    padding: 40px 0;
}

.footer-principal {
    display: grid;
    grid-template-areas: "preguntas"
        "redes"
        "p ";
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.preguntas {
    grid-area: preguntas;
}

.preguntas ul {
    padding: 10px 0;
    list-style: none;
}


.mapa {
    padding: 7px 0;
}

.mapa a {
    text-decoration: none;
    color: white;
}

.mapa a:hover {
    border-bottom: 2px solid var(--botones-color);
}

.redes {
    padding: 20px 0;
    grid-area: redes;
}

.redes p {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.redes a {
    filter: invert(100%);
    padding: 0 10px;
    text-decoration: none;
}

.redes img:hover {
    transform: scale(1.2);
}

footer p {
    text-align: center;
    grid-area: p;
}

/*******************inicio*****************/

.slide {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.slide-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin: auto;
}

.slide-open:checked+.slide-item {
    position: static;
    opacity: 1;
}

.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.slide-item img {
    display: block;
    height: 300px;
    width: 100%;
    contain: content;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 0;
}

.slide-control.prev {
    left: 2%;
}

.slide-control.next {
    right: 2%;
}

.slide-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#slide-1:checked~.control-1,
#slide-2:checked~.control-2,
#slide-3:checked~.control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 0;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #aaaaaa;
}

#slide-1:checked~.control-1~.slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked~.control-2~.slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked~.control-3~.slide-indicador li:nth-child(3) .slide-circulo {
    color: #428bca;
}



.btncomprar {
    display: block;
    background-color: var(--botones-color);
    padding: 10px 20px;
    color: var(--texto);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.btncomprar:hover {
    background-color: var(--fondo);
    border: 2px solid var(--botones-color);

}

.slide-indicador a {
    text-decoration: none;
}

.form-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.form-busqueda .form-label {
    padding: 20px;
    font-size: 1.5rem;
}

.form-busqueda .form-input {
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 90%;
}

.form-busqueda .form-input.btnbuscar {
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 10px;
    background-color: var(--botones-color);
    color: var(--texto);
    border: none;
    width: 200px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;

}

.form-busqueda .form-input.btnbuscar:hover {
    border: 2px solid var(--botones-color);
    background-color: var(--fondo);
    color: var(--texto);
}

/***********************estrenos***********************/

.estrenos,
.cartelera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}

.estrenos-figure img,
.cartelera img,
.info img {
    width: 180px;
    height: 270px;
    border-radius: 10px;
}

.estrenos-figure img:hover,
.cartelera img:hover {
    transform: scale(1.05);
}

.estrenos-figure a,
.cartelera a {
    text-decoration: none;
    color: var(--texto);
}

.cartelera-figure figcaption,
.estrenos-figure figcaption {
    text-align: center;
}

.cartelera p,
.estrenos-figure p {
    text-align: center;
    margin-bottom: 40px;
}

.promos {
    margin: 50px 0;
}

.promociones {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin: 0px;
}

.promociones img {
    width: 350px;
    padding: 10px 0;
}

/***********Compra****************************************************/
.disable {
    background-color: #222222;
    color: #828282;
}

.disable:hover {
    background-color: #414040;
    color: black;
    border: none;
}

.hidden {
    display: none;
}

.compra {
    display: grid;
    grid-row-gap: 25px;
    height: auto;
}

.info {
    display: none;
    grid-template-columns: 45% 55%;
    width: 100%;
    font-size: 10px;
}

.info .detalles,
.info .caratula {
    padding-left: 10px;
    padding-right: 10px;
}

.info .detalles h2 {
    margin-bottom: 10px;
    font-size: 18px;
}

.info .detalles ul {
    /* margin-top: 20px; */
    margin-bottom: 10px;
    list-style: none;
}

.info .bolder {
    font-weight: bolder;
}

.info .caratula img {
    width: 100%;
    height: auto;
}

.datos {
    width: 100%;
    display: grid;
    /* border: 2px crimson solid; */
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 70%;
    grid-gap: 35px;
    justify-content: center;
}

.select .btncomprar {
    text-align: center;
    cursor: pointer;
    width: 70%;
    margin: 0 auto;
    text-decoration: none;
}

.select select {
    height: 100%;
    width: 100%;
    /* margin-top: 5%; */
    background-color: black;
    color: #fff;
    border-radius: 8px;
    border-color: #FF2C1F;
    text-indent: 2px;

}

.select select:focus {
    border-color: #FF2C1F;
}

#footerCompra {
    margin-top: 30px;
}


/* -------nosotros-------- */

.cont-ppal {
    display: grid;
    grid-template-areas: 'mapas'
        'formulario';

}

.contenedor-mapas {
    grid-area: mapas;
}

.descripcion-mapas {
    /* border: 3px solid blue; */
    /* width: 800px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: mapas;
}

.descripcion-mapas p {
    height: fit-content;
    width: 80%;
    /* padding: 20px; */
    margin-left: 50px;
}

.mapa-chico {
    border: 3px solid var(--botones-color);
    border-radius: 10px;
    text-align: center;
    margin: 2rem;
    padding: 2rem;
}



/* -----------formulario nosotros----------- */
.contacto h3 {
    margin: 20px 50px;
}

.contact_form {
    /* border: 3px solid blue; */
    width: 460px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    /* padding-top: 30px; */
    /* padding-bottom: 20px; */
    background-color: var(--fondo);
    /* padding-left: 30px; */
    grid-area: formu;
    font-size: 1.2rem;
    font-weight: 700;
}

/* 
.form-input {
    background-color: var(--texto);
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--texto);
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
} */


.form-textarea {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    padding-top: 15px;
    resize: vertical;
}

/* 
.form-label {
    display: block;
    float: center;
}


.form-button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: var(--fondo);
    border-color: var(--botones-color);
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
} */


/* .form-button p {
    color: #fff;
} */


span {
    color: var(--texto);
}


.aviso {
    font-size: 13px;
    color: var(--texto);
}

::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


/* .formulario input:focus {
    outline: 0;
    border: 1px solid var(--botones-color);
} */


/* .formulario textarea:focus {
    outline: 0;
    border: 1px solid --botones-color;
} */

@media only screen and (min-width: 768px) {


    /***************difuminado*************/

    .difuminado {
        width: 100%;
    }

    /*****************footer**************/

    .footer-principal {
        grid-template-areas: "preguntas redes"
            "p p";
        font-size: 1.3rem;

    }

    /*******************inicio*****************/

    .estrenos,
    .cartelera {

        grid-template-columns: repeat(3, 1fr);

    }

    .estrenos-figure img,
    .cartelera img {
        width: 220px;
        height: 300px;
    }

    .promociones {
        grid-template-columns: 1fr 1fr;

    }

    /*************compra****************************/
    .compra {
        grid-template-columns: 1fr 2fr;
        height: auto;
        margin-top: 20px;

    }
    .datos{
        height: 380px;
    }
    .info {
        grid-template-columns: 1fr 2fr;
        font-size: 12px;
    }

    .select select {
        height: 60%;
    }

    #footerCompra {
        margin-top: 10px;
    }

    /* -------nosotros-------- */
    /* .cont-ppal {
         border: 3px solid blue; 
         grid-template-rows: 1fr 1fr 1fr; 
         display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    } */

    .mapas {
        /* border: 3px solid blue; */
        /* width: 800px; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        grid-area: mapas;
    }

    .mapas p {
        height: 350px;
        width: 80%;
        /* padding: 20px; */
        margin-left: 50px;
    }

    .mapa-chico {
        /* border: 3px solid blue; */
        text-align: center;
        margin: 1rem;
        padding: 1rem;
    }



}

@media only screen and (min-width: 992px) {

    /*****************sesion*************/


    .sesion {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 50px auto;
    }

    .registrar {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 50px 200px;

    }


    /*******************precios***********************/
    .salas {
        margin-top: 30px;
    }

    .precios {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 40px auto;
        width: 90%;
    }

    /***************difuminado*************/

    .difuminado {
        width: 700px;
        padding: 20px;
        margin-left: 50px;
        background-color: linear-gradient(to right, #FF2C1F, transparent);

    }


    /******************preguntas**********************/
    .dudas-contenedor {
        justify-items: left;
        padding: 0 50px;
    }

    .dudas .difuminado,
    .reembolso .difuminado {
        width: 700px;

    }

    .preg-frecuentes,
    .reembolso-contenedor {
        width: 100%;

    }


    /*****************footer**************/


    .footer-principal {
        grid-template-areas: "preguntas redes"
            "p p";
        font-size: 1.5rem;
    }


    /*******************inicio*****************/


    .slide-inner {

        height: 400px;

    }

    .slide-item img {

        height: 400px;

    }

    /***********************estrenos***********************/
    .estrenos,
    .cartelera {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: center;
        margin: 0 auto;
    }



    .estrenos-figure img,
    .cartelera img {
        width: 300px;
        height: 400px;
    }

    .promociones {

        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 0px auto;
    }
}

@media only screen and (min-width: 1200px) {



    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--fondo);
        width: 100%;
        margin: 0;
    }

    .nav {
        opacity: 1;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: initial;
        gap: 5em;
        background-color: var(--fondo);
        padding: 0px;
        box-shadow: none;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        align-items: center;

    }

    .nav-list li a {
        text-decoration: none;
        color: var(--texto);
        padding: 10px 20px;
        text-transform: uppercase;

    }

    .abrir-menu,
    .cerrar-menu {
        display: none;
    }

    .navLogo {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    /***************login************/

    .sesion {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        margin: 50px auto;
    }


    /*****************registrar****************/
    .registrar {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        padding: 50px 200px;
        margin: 0px auto;
        width: 80%;
    }



    /*******************precios***********************/
    .salas {
        margin-top: 30px;
    }

    .precios {

        grid-template-columns: 1fr 1fr;

        width: 90%;
    }

    /***************difuminado*************/

    .difuminado {
        width: 1000px;
    }


    /******************preguntas**********************/
    .dudas-contenedor {

        grid-template-columns: 1fr 1fr;
        margin-bottom: 40px;
    }

    .dudas .difuminado,
    .reembolso .difuminado {
        width: 500px;

    }

    .preg-frecuentes,
    .reembolso-contenedor {
        width: 95%;

    }


    /*****************footer**************/


    .footer-principal {
        font-size: 1.5rem;
        grid-template-areas: "preguntas redes"
            "p p";

    }

    /*******************inicio*****************/
    .form-busqueda {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px 0;
    }

    .form-busqueda .form-input {
        width: 700px;
        margin-right: 20px;
    }

    .slide-inner {

        width: 80%;

    }

    /****************compra********************/

    .info .caratula img {
        width: 90%;
    }
    .info{
        font-size: 13px;
    }
    .info .detalles h2{
        font-size: 20px;
    }
    /* .info .detalles,
    .info .caratula {
        padding-left: 0px;
        padding-right: 0px;
    } */

    /***********************estrenos***********************/

    .estrenos,
    .cartelera {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        align-items: center;
        margin: 0 50px;
    }

    .estrenos-figure img,
    .cartelera img {
        width: 250px;
        height: 300px;
    }

    .promos {
        margin: 50px 0;
    }

    .promociones {

        grid-template-columns: 1fr 1fr 1fr;

        margin: 0px 50px;
    }

    .promociones img {
        width: 350px;
    }

    .contacto h3 {
        margin: 20px 400px;
    }

    .contact_form {
        /* border: 3px solid blue; */
        width: 460px;
        height: auto;
        margin: 20px auto;
        border-radius: 10px;
        /* padding-top: 30px; */
        /* padding-bottom: 20px; */
        background-color: var(--fondo);
        /* padding-left: 30px; */
        grid-area: formu;
        font-size: 1.2rem;
        font-weight: 700;
    }

}