@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fondo: #000;
    --botones-color: #FF2C1F;
    --texto: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fondo);
    font-family: "montserrat", sans-serif;
    color: var(--texto);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 0 20px;
    border-bottom: 2px solid var(--botones-color);
}

.navLogo {
    display: flex;
    align-items: center;

}

.logo {
    width: 70px;
    filter: invert(100%);
}

.lista {
    display: flex;
    list-style: none;
    align-items: center;
}

.lista a {
    text-decoration: none;
    color: var(--texto);
    padding: 10px 20px;
}

.lista a:hover {
    border-bottom: 2px solid var(--botones-color);
    font-weight: 700;
}

.navLogin {
    list-style: none;
}

.navLogin a {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navLogin a {
    padding: 15px;
    border-radius: 10px;
    border: none;
}

.navLogin a:hover {
    background-color: var(--botones-color);
    font-weight: 700;
}

.login-icon {
    filter: invert(100%);
    width: 30px;
    margin-right: 10px;
}

/* header {
    background-image: url(/img/jurassicpark.webp);
    background-size: 100%;
    height: 700px;

} */
.banner {
    height: 110dvh;
}

/**********************Footer*****************/
footer {
    border-top: 2px solid var(--botones-color);
    padding: 40px 0;
}

.footer-principal {
    display: grid;
    grid-template-areas: "preguntas redes"
        "p p";
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.preguntas {
    grid-area: preguntas;
}

.preguntas ul {
    padding: 10px 0;
    list-style: none;
}


.mapa {
    padding: 7px 0;
}

.mapa a {
    text-decoration: none;
    color: white;
}

.mapa a:hover {
    border-bottom: 2px solid var(--botones-color);
}

.redes {
    padding: 20px 0;
    grid-area: redes;
}

.redes p {
    padding-bottom: 10px;
    font-size: 1.5rem;
}

.redes a {
    filter: invert(100%);
    padding: 0 10px;
    text-decoration: none;
}


footer p {
    text-align: center;
    grid-area: p;
}